---
import Link from '../compontents/link-pages.astro'
import Paragraph from '../compontents/paragraph.astro'
import Title from '../compontents/title.astro'
import Layout from '../layouts/main.astro'
---

<Layout>
  <section class="flex flex-row flex-1 items-center justify-center w-full">
    <div class="flex flex-col w-3/4 xl:w-3/5">
      <Title>Hello!</Title>

      <Paragraph>
        I'm an 11th grade student and a passionate software/front-end developer
        at
        <Link
          link="https://github.com/SCSDC-co"
          text="SCSDC."
        />
        <br />
        {" "}I love building clean, user-friendly UI/UX designs for websites and
        desktop apps, turning designs into fast, accessible, and maintainable
        interfaces.
      </Paragraph>
    </div>
  </section>
</Layout>
