---
import Paragraph from '../compontents/paragraph.astro'
import Title from '../compontents/title.astro'
import Layout from '../layouts/main.astro'
---

<Layout>
  <section class="flex w-full flex-1 flex-row items-center justify-center">
    <div class="flex w-3/4 flex-col xl:w-3/5">
      <Title>Stack</Title>

      <Paragraph>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
        ducimus sint ipsum voluptatem nulla, incidunt nihil quas eligendi
        accusamus ipsa nesciunt a nisi error. Dicta hic commodi illo saepe
        sapiente.
      </Paragraph>
    </div>
  </section>
</Layout>
