---
import Paragraph from '../compontents/paragraph.astro'
import Title from '../compontents/title.astro'
import Layout from '../layouts/main.astro'
---

<Layout>
  <section class="flex w-full flex-1 flex-row items-center justify-center">
    <div class="flex w-3/4 flex-col xl:w-3/5">
      <Title>Projects</Title>

      <Paragraph>
        These are the projects I’ve built, focused on learning, experimenting,
        and pushing my limits.
        <br />
        They range from websites to software built with C++ and C#.
      </Paragraph>
    </div>
  </section>
</Layout>
