---
import Divider from '../components/ui/Divider.astro'
import List from '../components/ui/List.astro'
import Paragraph from '../components/ui/Paragraph.astro'
import Subtitle from '../components/ui/Subtitle.astro'
import Title from '../components/ui/Title.astro'
import Layout from '../layouts/main.astro'
---

<Layout>
  <Title>Stack</Title>

  <Paragraph>I'm a front-end web developer and software developer</Paragraph>
  <Paragraph>Here's my stack i use:</Paragraph>

  <Divider />

  <Subtitle>Front-end</Subtitle>
  <List>
    <li>HTML</li>
    <li>CSS (vanilla and tailwind)</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>Astro</li>
  </List>

  <Divider />

  <Subtitle>Software / Systems</Subtitle>
  <List>
    <li>C++</li>
    <li>C#</li>
    <li>Python</li>
  </List>

  <Divider />

  <Subtitle>Tools / DevOps basics</Subtitle>
  <List>
    <li>Git</li>
    <li>Markdown</li>
    <li>GitHub</li>
    <li>Bash</li>
  </List>

  <Divider />

  <Subtitle>What I'm learning</Subtitle>
  <List>
    <li>Go</li>
    <li>React</li>
    <li>Next.js</li>
  </List>

  <Divider />
  <Divider />

  <Paragraph>I don’t do backend yet, but I’m currently learning it</Paragraph>
</Layout>
