---
import '../styles/global.css'

import { Icon } from 'astro-icon/components'
import Link from '../compontents/link-footer.astro'
---

<footer
  class="bg-spicy-paprika-500 flex justify-center text-carbon-black-900 w-full flex-col"
>
  <div class="flex justify-center w-full gap-20 mt-6">
    <div class="w-1/6">
      <h3 class="font-bold text-3xl">Contacts</h3>
      <hr class="h-0.5 my-1.5" />
      <ul>
        <li class="flex flex-row justify-between">
          <Link
            link="https://github.com/Sckab"
            text="Github"
          />

          <Icon
            name="mdi:github"
            class="text-carbon-black-900 text-3xl"
          />
        </li>
        <li class="flex flex-row justify-between">
          <Link
            link="https://leetcode.com/u/Sckab"
            text="LeetCode"
          />

          <Icon
            name="simple-icons:leetcode"
            class="text-carbon-black-900 text-3xl"
          />
        </li>
        <li class="flex flex-row justify-between">
          <Link
            link="https://discord.gg/RVX6RRqkt5"
            text="Discord"
          />

          <Icon
            name="akar-icons:discord-fill"
            class="text-carbon-black-900 text-3xl"
          />
        </li>
        <li class="flex flex-row justify-between">
          <Link
            link="mailto:giulianodeamicis2009@gmail.com"
            text="Mail"
          />

          <Icon
            name="mdi:envelope"
            class="text-carbon-black-900 text-3xl"
          />
        </li>
      </ul>
    </div>

    <div class="w-1/6">
      <h3 class="font-bold text-3xl">Other Pages</h3>
      <hr class="h-0.5 my-1.5" />
      <ul>
        <li class="flex flex-row justify-between">
          <Link
            link=""
            text="Stack"
          />

          <Icon
            name="fluent:code-24-filled"
            class="text-carbon-black-900 text-3xl"
          />
        </li>
        <li class="flex flex-row justify-between">
          <Link
            link="https://leetcode.com/u/Sckab"
            text="Projects"
          />

          <Icon
            name="fluent:folder-24-filled"
            class="text-carbon-black-900 text-3xl"
          />
        </li>
      </ul>
    </div>
  </div>

  <div class="flex justify-center items-center my-3">
    <span class="text-sm">
      This poroject is open source:
      <a
        href="https://github.com/Sckab/portfolio"
        class="hover:underline"
      >
        https://github.com/Sckab/portfolio
      </a>
    </span>
  </div>
</footer>
