---
import '../styles/global.css'

import { Icon } from 'astro-icon/components'
import Link from '../compontents/link-footer.astro'
---

<footer
  class="flex w-full flex-col justify-center bg-spicy-paprika-500 text-carbon-black-900"
>
  <div
    class="mx-auto mt-6 flex w-3/4 flex-col items-center justify-center gap-5 lg:w-full lg:flex-row lg:items-start lg:gap-20"
  >
    <div class="w-full lg:w-1/6">
      <h3 class="text-3xl font-bold">Contacts</h3>
      <hr class="my-1.5 h-0.5" />
      <ul>
        <li class="flex flex-row justify-between">
          <Link
            link="https://github.com/Sckab"
            text="Github"
          />

          <Icon
            name="mdi:github"
            class="text-3xl text-carbon-black-900"
          />
        </li>
        <li class="flex flex-row justify-between">
          <Link
            link="https://leetcode.com/u/Sckab"
            text="LeetCode"
          />

          <Icon
            name="simple-icons:leetcode"
            class="text-3xl text-carbon-black-900"
          />
        </li>
        <li class="flex flex-row justify-between">
          <Link
            link="https://discord.gg/RVX6RRqkt5"
            text="Discord"
          />

          <Icon
            name="akar-icons:discord-fill"
            class="text-3xl text-carbon-black-900"
          />
        </li>
        <li class="flex flex-row justify-between">
          <Link
            link="mailto:giuliano@scsdc-co.org"
            text="Mail"
          />

          <Icon
            name="mdi:envelope"
            class="text-3xl text-carbon-black-900"
          />
        </li>
      </ul>
    </div>

    <div class="w-full lg:w-1/6">
      <h3 class="text-3xl font-bold">Other Pages</h3>
      <hr class="my-1.5 h-0.5" />
      <ul>
        <li class="flex flex-row justify-between">
          <Link
            link="/stack"
            text="Stack"
          />

          <Icon
            name="fluent:code-24-filled"
            class="text-3xl text-carbon-black-900"
          />
        </li>
        <li class="flex flex-row justify-between">
          <Link
            link="/projects"
            text="Projects"
          />

          <Icon
            name="fluent:folder-24-filled"
            class="text-3xl text-carbon-black-900"
          />
        </li>
      </ul>
    </div>
  </div>

  <div class="my-3 flex items-center justify-center">
    <span class="flex flex-col items-center justify-center text-sm lg:inline">
      This poroject is open source:
      <a
        href="https://github.com/Sckab/portfolio"
        class="hover:underline"
      >
        https://github.com/Sckab/portfolio
      </a>
    </span>
  </div>
</footer>
