---
import '../styles/global.css'

import NavBar from './navbar.astro'
---

<header>
  <div class="bg-spicy-paprika-500 flex justify-center items-center p-4 gap-5">
    <a
      href="https://github.com/Sckab"
      class="select-none cursor-pointer"
    >
      <img
        src="/favicon.svg"
        alt="Sckab pfp"
        class="md:size-24 size-16 rounded-full outline-3 outline-carbon-black-900 outline-offset-2"
      />
    </a>

    <h1
      class="font-inter text-carbon-black-900 font-bold md:text-6xl text-3xl select-none"
    >
      SCKAB PORTFOLIO
    </h1>
  </div>

  <NavBar />
</header>
