---
import NavBar from './navbar.astro'
---

<header>
  <div
    class="flex h-1/4 items-center justify-center gap-5 bg-spicy-paprika-500 p-4"
  >
    <a
      href="https://github.com/Sckab"
      class="cursor-pointer select-none"
    >
      <img
        src="/favicon.svg"
        alt="Sckab pfp"
        class="size-10 rounded-full outline-2 outline-offset-2 outline-carbon-black-900 sm:size-16 sm:outline-3 md:size-24"
      />
    </a>

    <h1
      class="font-inter text-xl font-bold text-carbon-black-900 select-none sm:text-3xl md:text-6xl"
    >
      SCKAB PORTFOLIO
    </h1>
  </div>

  <NavBar />
</header>
