---
import "../styles/global.css";

const { link } = Astro.props;
---

<a
  href={link}
  class="hover:underline text-carbon-black-900 flex flex-row hover:cursor-pointer select-none"
>
  <slot />
</a>
