---
import ContactsDropdown from './contacts-dropdown.astro'
import Link from './link.astro'
import NavbarEntry from './navbar-entry.astro'
---

<nav
  class="flex h-fit w-full items-center justify-between bg-spicy-paprika-400 px-5"
>
  <ul class="flex items-center gap-5">
    <li>
      <NavbarEntry>
        <Link
          link="/stack"
          text="Stack"
        />
      </NavbarEntry>
    </li>
    <li>
      <NavbarEntry>
        <Link
          link="/projects"
          text="Projects"
        />
      </NavbarEntry>
    </li>
  </ul>

  <ContactsDropdown />
</nav>
