---
import { Icon } from 'astro-icon/components'
import DropElem from '../ui/DropdownElement.astro'
import Link from '../ui/Link.astro'
import NavbarEntry from './NavbarEntry.astro'
---

<div
  x-data="{ open: false }"
  @click.outside="open = false"
  class="relative w-fit"
>
  <button
    class="flex cursor-pointer flex-row items-center justify-center gap-2 p-1 select-none"
    @click="open = !open"
  >
    <Icon
      name="mdi:envelope"
      class="text-3xl text-carbon-black-900"
    />

    <NavbarEntry>Contacts</NavbarEntry>

    <Icon
      name="fluent:chevron-down-12-filled"
      class="text-3xl text-carbon-black-900"
    />
  </button>

  <div
    x-show="open"
    class="absolute top-full flex w-full flex-row justify-between rounded-br-lg rounded-bl-lg bg-spicy-paprika-400 p-3"
  >
    <div class="flex w-full flex-col font-bold text-carbon-black-900">
      <DropElem>
        <Icon
          name="mdi:github"
          class="text-xl"
        />

        <Link
          link="https://github.com/Sckab"
          text="Github"
        />
      </DropElem>
      <DropElem>
        <Icon
          name="simple-icons:leetcode"
          class="text-xl"
        />

        <Link
          link="https://leetcode.com/u/Sckab"
          text="LeetCode"
        />
      </DropElem>
      <DropElem>
        <Icon
          name="akar-icons:discord-fill"
          class="text-xl"
        />

        <Link
          link="https://discord.gg/RVX6RRqkt5"
          text="Discord"
        />
      </DropElem>
      <DropElem>
        <Icon
          name="mdi:envelope"
          class="text-xl"
        />

        <Link
          link="mailto:giuliano@scsdc-co.org"
          text="Mail"
        />
      </DropElem>
    </div>
  </div>
</div>
