---
import "../styles/global.css";

import Header from "../compontents/header.astro";
import Footer from "../compontents/footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      src="https://kit.fontawesome.com/f0be53b175.js"
      crossorigin="anonymous"></script>
    <title>Sckab Portfolio</title>
  </head>

  <body class="flex flex-col min-h-screen">
    <Header />

    <main class="bg-carbon-black-900 grow flex flex-col items-center">
      <slot />
    </main>

    <Footer />
  </body>
</html>
