---
import '../styles/global.css'

import Footer from '../compontents/footer.astro'
import Header from '../compontents/header.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Sckab Portfolio</title>
  </head>

  <body class="flex flex-col min-h-screen">
    <Header />

    <main
      class="bg-carbon-black-900 grow flex shrink-0 flex-col items-center justify-center h-screen"
    >
      <slot />
    </main>

    <Footer class="" />
  </body>
</html>
