---
import '../styles/global.css'

import Footer from '../components/footer/Footer.astro'
import Header from '../components/header/Header.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="robots"
      content="index, follow"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Sckab Portfolio</title>
  </head>

  <body class="flex min-h-screen flex-col">
    <Header />

    <main
      class="flex h-3/4 shrink-0 grow flex-col items-center justify-center bg-carbon-black-900 py-11"
    >
      <section class="flex w-full items-center justify-center">
        <div class="mx-4 flex flex-col xl:w-3/5">
          <slot />
        </div>
      </section>
    </main>

    <Footer />
  </body>
</html>
