---
const { link, text } = Astro.props
---

<a
  href={link}
  class="my-6 w-fit rounded border-2 border-spicy-paprika-500 bg-spicy-paprika-500 px-4 py-2 text-xl font-bold text-carbon-black-900 transition duration-300 select-none hover:bg-carbon-black-900 hover:text-spicy-paprika-500 sm:text-2xl"
  ><h2>{text}</h2></a
>
